.custom-header {
  background-color: var(--background-dark);
  border-radius: 8px;
  margin-left: 15%;
  margin-right: 15%;
}
.custom-header .navbar-brand {
  color: var(--system-red);
  pointer-events: none;
}

.custom-header a {
  font-size: clamp(11px, 1vw, 14px);
  font-weight: 400;
  color: var(--text);
}
.navi {
  display: flex; 
  flex-direction: row;
}

.navi a {
  padding: 0 20px;
  text-decoration: none;
}

.custom-header a:hover {
  transition: font-weight 300ms linear;
  font-weight: 500;
}

.custom-header .navbar-nav .active-link {
  color: #f38ba8;
  font-weight: 400;
}