<header class="custom-header">
  <nav class="navbar navbar-expand-lg navbar-light shadow-md">
    <div class="container d-flex justify-content-center align-items-center">
      <a  aria-controls="navbarNav" aria-expanded="false" class="navbar-brand" href="#">berke parıldar</a>
      <div class=" justify-content-center" id="navbarNav">
        <div class="navi">
            <a routerLink="/">Home</a>
            <a routerLink="/certificates" class=>Certificates</a>
            <a id="stat" href="https://drive.google.com/file/d/15lQjj4VI4012K6IejvaKDuGfGt47fLEF/view?usp=sharing" target="_blank">Download CV</a>
        </div>
      </div>
    </div>
  </nav>
</header>
