<div class="project-tile">
  <div class="image-container">
    <img *ngIf="!isPortait" [src]="thumbnailOnePath" alt="Image One" class="project-image-landscape" />
    <img *ngIf="isPortait" [src]="thumbnailOnePath" alt="Image One" class="project-image" />
    <img *ngIf="isPortait" [src]="thumbnailTwoPath" alt="Image Two" class="project-image" />
    <img *ngIf="isPortait" [src]="thumbnailThreePath" alt="Image Three" class="project-image" />
  </div>
  <div class = "tags-container">
    <div class="tags">
      <span *ngFor="let tag of tags" [ngClass]="'tag-' + CoreTag(tag)" class="tag">
        {{Tag(tag)}}
      </span>
    </div>
    <div class="placeholder-icons">
      <span *ngIf="hasVideo" class="placeholder-icon"><a [href]="videoId" target="_blank"><i class="fab fa-youtube"></i></a></span>
      <span class="placeholder-icon"><a [href]="repoLink" target="_blank"><i class="fab fa-github"></i></a></span>
    </div>
  </div>
  <div>
    <div class="title">{{ title }}</div>
  <div class="description">
    {{ thumbnailString }} 
  </div>
  </div>
  
  <p (click)="openProjectView()" class="more-info" href="">More information <i class="fa-solid fa-chevron-right"></i></p>
</div>
